<!DOCTYPE html>
<html
        lang="en" xmlns:th="http://www.thymeleaf.org"
        xmlns:layout="http://www.ultraq.net.nz/thymeleaf/layout"
        layout:decorate="~{fragments/admin_main_layout}"
>
<head>
    <meta charset="UTF-8">
    <title>View Post</title>
</head>
<body>

<div layout:fragment="content">
    <ol class="breadcrumb mb-4">
        <li class="breadcrumb-item active">View Post</li>
    </ol>
    <section>
        <div class="row">
            <div class="table-responsive mb-2">
                <table class="table table-striped table-hover">
                    <thead>
                    <tr>
                        <th>Category</th>
                        <th>Published</th>
                        <th>Created By</th>
                        <th>Date Created</th>
                        <th>Actions</th>
                    </tr>
                    </thead>
                    <tbody>
                    <tr>
                        <td th:text="${post.getPostCategory().name}"></td>
                        <td th:text="${post.published}"></td>
                        <td th:text="${post.getCreatedBy().username}"></td>
                        <td th:text="${post.datePosted}"></td>
                        <td class="d-flex justify-content-around">
                            <a th:href="@{/admin/edit/post/{id} (id= ${post.id})}">
                                <i class="fa fa-edit text-primary"></i>
                            </a>
                            <a th:href="@{/admin/delete/post/{id} (id= ${post.id})}">
                                <i class="fa fa-trash text-danger"></i>
                            </a>
                        </td>
                    </tr>
                    </tbody>
                </table>
            </div>
            <div class="card col-12 mb-2">
                <div class="card-header">Title</div>
                <div class="card-body" >
                    [(${post.title})]
                </div>
            </div>
            <div class="card col-12 mb-2">
                <div class="card-header">Details</div>
                <div class="card-body" >
                    [(${post.details})]
                </div>
            </div>
            <div class="card col-12">
                <div class="card-header">Images</div>
                <div class="card-body">
                    <img th:each="image : ${post.getImages()}" th:src="${image.getUrl()}" class="img-fluid p-2 col-lg-4 col-md-2" th:alt="${post.title}">
                </div>
            </div>
        </div>
    </section>
</div>

</body>
</html>